In [ ]:
import numpy as np
import pandas as pd 
from datetime import datetime

# 1) 3줄 헤더로 읽기
df = pd.read_excel("trans_raw.xlsx", header=None)

cols = df.iloc[2:5].values
rows = []
for i in range(0, len(df)):

    if type(df.iloc[i, 0]) == datetime:
        data = df.iloc[i:i+3].reset_index(drop=True)
        rows.append(data)

df = pd.concat(rows, axis=0).reset_index(drop=True)

multi_index = pd.MultiIndex.from_arrays(cols)
df.columns = multi_index

df.to_csv('transactions2.csv', index=False)

:

In [ ]:
import pandas as pd

# 1) 헤더 없이 읽기
df = pd.read_csv("transactions.csv", header=None)

# 2) 3줄씩 묶어서 한 줄로 합치기
cnt = 0
columns = []
rows = []
for i in range(0, len(df), 3):
    block = df.iloc[i:i+3]
    merged = pd.Series(block.values.flatten())    
    if cnt != 0:
        rows.append(merged)
    else:
        columns.extend(merged)
    cnt+=1

# 3) DataFrame 만들기
df = pd.DataFrame(rows)
df.columns = columns
df = df.dropna(axis=1, how='all')

re_index_columns = ['거래일자', '거래번호', '적요명', '종목명', '수량/좌수',  '시장구분/\n통화구분', '단가/\n매매기준가', '거래금액', 
 '환율', '정산금액', '외화\n정산금액', '예수금', '외화예수금', '수수료','국외수수료', '소득세', '거래세등','지방소득세','유가잔고수량']

df = df[re_index_columns]

formatted_columns = ['거래일자', '거래번호', '적요명', '종목명', '수량/좌수',  '시장구분/통화구분', '단가/매매기준가', '거래금액', 
 '환율', '정산금액', '외화정산금액', '예수금', '외화예수금', '수수료','국외수수료', '소득세', '거래세등','지방소득세','유가잔고수량']

df.columns = formatted_columns

In [3]:
dfs = []
dates = df['거래일자'].unique()
for date in dates:

    tdf = df.loc[df['거래일자'] == date]
    dfs.append(tdf)

In [4]:
modified_map = {
'유나이티드 에어라인?':'유나이티드 에어라인', 
'알리바바 그룹 홀딩(A':'알리바바 그룹 홀딩(ADR)', 
'메타 플랫폼스(페이스':'메타 플랫폼스(페이스북)', 
'DIREXION DAILY 20Y TREASURY BULL 3X ETF_OLD':'DIREXION 20+Y TREASURY DAILY 3X', 
'테이크 투 인터랙티브' : '테이크 투 인터렉티브 소프트웨어', 
'파라마운트 글로벌 B_OLD' : '파라마운트 스카이댄스',
'DIREXION 20+Y TREASU' : 'DIREXION 20+Y TREASURY DAILY 3X', 
'레스토랑 브랜즈 인터' : '레스토랑 브랜즈 인터내셔널',
'글로벌 십 리스' : '글로벌 쉽 리스'
}

In [5]:
df['종목명'] = df['종목명'].replace(modified_map)

In [6]:
mapping = {
    '마이크로소프트': ['MSFT', 'Microsoft Corporation', 'Stock'],
    '보잉': ['BA', 'The Boeing Company', 'Stock'],
    '카니발': ['CCL', 'Carnival Corporation & plc', 'Stock'],
    '애플': ['AAPL', 'Apple Inc.', 'Stock'],
    '아마존닷컴': ['AMZN', 'Amazon.com, Inc.', 'Stock'],
    '모더나': ['MRNA', 'Moderna, Inc.', 'Stock'],
    '화이자': ['PFE', 'Pfizer Inc.', 'Stock'],
    '아메리칸 에어라인스': ['AAL', 'American Airlines Group Inc.', 'Stock'],
    '델타 에어라인스': ['DAL', 'Delta Air Lines, Inc.', 'Stock'],
    '유나이티드 에어라인': ['UAL', 'United Airlines Holdings, Inc.', 'Stock'],
    'AT&T': ['T', 'AT&T Inc.', 'Stock'],
    '알리바바 그룹 홀딩(ADR)': ['BABA', 'Alibaba Group Holding Limited', 'Stock'],
    'TSMC(ADR)': ['TSM', 'Taiwan Semiconductor Manufacturing Company Limited', 'Stock'],
    '치폴레 멕시칸 그릴': ['CMG', 'Chipotle Mexican Grill, Inc.', 'Stock'],
    '액티비전 블리자드': ['ATVI', 'Activision Blizzard, Inc.', 'Stock'],  # 2023년 MSFT 인수로 상장폐지
    '인텔': ['INTC', 'Intel Corporation', 'Stock'],
    '메타 플랫폼스(페이스북)': ['META', 'Meta Platforms, Inc.', 'Stock'],
    '지오 그룹': ['GEO', 'The GEO Group, Inc.', 'Stock'],
    '현대두산인프라코어31': ['현대두산인프라코어31', '현대두산인프라코어31', 'Bond'],
    '삼척블루파워6': ['삼척블루파워6', '삼척블루파워6', 'Bond'],
    'KODEX 미국S&P500선물(H)': ['069500', 'KODEX 미국S&P500선물(H)', 'ETF'],
    'KODEX 미국달러선물인버스': ['261240', 'KODEX 미국달러선물인버스', 'ETF'],
    'DIREXION 20+Y TREASURY DAILY 3X': ['TMF', 'Direxion Daily 20+ Year Treasury Bull 3X Shares', 'ETF'],
    '씨티그룹': ['C', 'Citigroup Inc.', 'Stock'],
    '인모드': ['INMD', 'InMode Ltd.', 'Stock'],
    '뱅크오브아메리카': ['BAC', 'Bank of America Corporation', 'Stock'],
    '알버말': ['ALB', 'Albemarle Corporation', 'Stock'],
    '원메인 홀딩스': ['OMF', 'OneMain Holdings, Inc.', 'Stock'],
    '제너럴 모터스': ['GM', 'General Motors Company', 'Stock'],
    '옥시덴털 페트롤리엄': ['OXY', 'Occidental Petroleum Corporation', 'Stock'],
    '에어비앤비': ['ABNB', 'Airbnb, Inc.', 'Stock'],
    '허츠 글로벌 홀딩스': ['HTZ', 'Hertz Global Holdings, Inc.', 'Stock'],
    '테이크 투 인터렉티브 소프트웨어': ['TTWO', 'Take-Two Interactive Software, Inc.', 'Stock'],
    '파라마운트 스카이댄스': ['PARA', 'Paramount Global', 'Stock'],  # 합병 관련 변동 있음
    '버크셔 해서웨이 B': ['BRK.B', 'Berkshire Hathaway Inc. Class B', 'Stock'],
    '아틀라시언': ['TEAM', 'Atlassian Corporation Plc', 'Stock'],
    '셰브론': ['CVX', 'Chevron Corporation', 'Stock'],
    '레스토랑 브랜즈 인터내셔널': ['QSR', 'Restaurant Brands International Inc.', 'Stock'],
    '크래프트 하인즈': ['KHC', 'The Kraft Heinz Company', 'Stock'],
    '에이비스 버짓 그룹': ['CAR', 'Avis Budget Group, Inc.', 'Stock'],
    'APA': ['APA', 'APA Corporation', 'Stock'],
    '글로벌 쉽 리스': ['GSL', 'Global Ship Lease, Inc.', 'Stock'],
    '페어 아이작': ['FICO', 'Fair Isaac Corporation', 'Stock'],
    '처브': ['CB', 'Chubb Limited', 'Stock'],
    '어도비': ['ADBE', 'Adobe Inc.', 'Stock'],
    '킨로스 골드': ['KGC', 'Kinross Gold Corporation', 'Stock'],
    'T 1.625 11/15/50': ['T 1.625 11/15/50', 'T 1.625 11/15/50', 'Bond'],
}

df[["티커", "영문명", "분류"]] = df["종목명"].map(mapping).apply(pd.Series)

In [7]:
df.to_csv('trans_modified.csv')

In [8]:
df['거래금액'] = df['거래금액'].astype(float)
df['단가/매매기준가'] = df['단가/매매기준가'].astype(float)
df['수량/좌수'] = df['수량/좌수'].astype(float)
df['적요명'].unique()

array(['상품간대체입금', '매수', '원화증거금환전 출금', '매도', '원화증거금환전 입금', '예탁금이용료 입금',
       '전자금융입금', '전자금융송금 출금', '배당금 입금', '해외원천세 출금', '액면분할 출고', '액면분할 입고',
       'ADR FEE 출금', '채권장내매수', '사채이자 입금', '주식장내매수', '채권상환 출고', '사채원금 입금',
       '주식장내매도', '액면병합 출고', '액면병합 입고', '단수주매각대금 입금', '글로벌원마켓플러스외화매수 출금',
       '외화매수', '대체출금', '대체입금', '세금충당외화매도', '이자소득세추징 출금', '외화매도',
       '은행이체 출금', '채권장내매도', '예탁금세액충당매도', '배당세금추징 출금'], dtype=object)

In [ ]:
class Portfolio:
    """포트폴리오 관리 클래스 - 현금과 주식을 통합 관리"""
    
    def __init__(self):
        self.cash = {"WON": 0.0, "USD": 0.0}
        self.positions = {}  # {ticker: position_info}
        self.portfolio_history = []
        self.transaction_history = []
        self.cash_in_out_history = []

        self.cash_in = ['상품간대체입금', '전자금융입금', '대체입금']
        self.cash_out = ['전자금융송금 출금', '대체출금', '은행이체 출금']
        self.dividend_in = ['배당금 입금', '사채이자 입금', '사채원금 입금', '예탁금이용료 입금']
        self.tax_out = ['해외원천세 출금', '배당세금추징 출금', 'ADR FEE 출금', '이자소득세추징 출금']
        self.stock_buy = ['매수', '주식장내매수', '채권장내매수']
        self.stock_sell = ['매도', '주식장내매도', '채권장내매도', '채권상환 출고', '단수주매각대금 입금']
        self.usd_to_won = ['외화매도', '원화증거금환전 입금']
        self.won_to_usd = ['외화매수', '원화증거금환전 출금', '글로벌원마켓플러스외화매수 출금']
        self.stock_split = ['액면분할 입고', '액면병합 입고']

    def add_cash_transaction(self, transaction_date, currency, amount, transaction_type="입금", ):
        """현금 거래 처리 - 정산금액 기반"""
        if currency == "WON":
            self.cash["WON"] += amount
            self.cash["WON"] = round(self.cash["WON"], 0)
        elif currency == "USD":
            self.cash["USD"] += amount
            self.cash["USD"] = round(self.cash["USD"], 2)
        
        if transaction_type in self.cash_in + self.cash_out:
            self.cash_in_out_history.append({
                "type": "cash",
                "currency": currency,
                "amount": amount,
                "transaction_type": transaction_type,
                "date": transaction_date
            })
        self.transaction_history.append({
            "type": "cash",
            "currency": currency,
            "amount": amount,
            "transaction_type": transaction_type,
            "date": transaction_date
        })

    def add_stock_transaction(self, ticker, name, sec_type, amount, price, transaction_type):
        """주식 거래 처리"""
        total_price = amount * price
        
        if transaction_type in self.stock_buy:
            if ticker in self.positions:
                # 기존 포지션에 추가
                pos = self.positions[ticker]
                pos['amount'] += amount
                pos['total_price'] += total_price
                pos['average_price'] = pos['total_price'] / pos['amount']
            else:
                # 새로운 포지션 생성
                self.positions[ticker] = {
                    'name': name,
                    'type': sec_type,
                    'amount': amount,
                    'total_price': total_price,
                    'average_price': price
                }
        
        elif transaction_type in self.stock_sell:
            if ticker not in self.positions:
                raise ValueError(f"매도하려는 종목 {ticker}이 포지션에 없습니다.")
            
            pos = self.positions[ticker]
            pos['amount'] -= amount
            pos['total_price'] -= pos['average_price'] * amount
            
            if pos['amount'] <= 0:
                del self.positions[ticker]
        
        elif transaction_type in self.stock_split:
            if ticker not in self.positions:
                raise ValueError(f"액면분할/병합하려는 종목 {ticker}이 포지션에 없습니다.")
            
            pos = self.positions[ticker]
            original_amount = pos['amount']
            pos['amount'] = amount
            
            if original_amount > 0:
                ratio = amount / original_amount
                pos['total_price'] *= ratio
                pos['average_price'] = pos['total_price'] / pos['amount']
        
        self.transaction_history.append({
            "type": "stock",
            "ticker": ticker,
            "name": name,
            "amount": amount,
            "price": price,
            "transaction_type": transaction_type,
            "date": pd.Timestamp.now().strftime('%Y-%m-%d')
        })
    
    
    def save_portfolio_snapshot(self, date):
        """특정 날짜의 포트폴리오 상태를 저장"""
        snapshot = {
            "date": date,
            "cash": self.cash.copy(),
            "positions": {}
        }
        
        # 포지션 정보를 DataFrame 변환에 적합한 형태로 저장
        for ticker, pos in self.positions.items():
            snapshot["positions"][ticker] = {
                "name": pos["name"],
                "type": pos["type"],
                "amount": pos["amount"],
                "average_price": pos["average_price"],
                "total_value": pos["amount"] * pos["average_price"]
            }
        
        self.portfolio_history.append(snapshot)
    
        """포트폴리오 히스토리를 DataFrame으로 변환"""
        rows = []
        
        for snapshot in self.portfolio_history:
            date = snapshot["date"]
            cash = snapshot["cash"]
            positions = snapshot["positions"]
            
            # 현금 행 추가
            rows.append({
                "date": date,
                "ticker": "WON",
                "name": "원화현금",
                "type": "Cash",
                "amount": 1,
                "average_price": cash["WON"],
                "total_value": cash["WON"]
            })
            
            rows.append({
                "date": date,
                "ticker": "USD", 
                "name": "달러현금",
                "type": "Cash",
                "amount": 1,
                "average_price": cash["USD"],
                "total_value": cash["USD"]
            })
            
            # 주식 포지션 행 추가
            for ticker, pos in positions.items():
                rows.append({
                    "date": date,
                    "ticker": ticker,
                    "name": pos["name"],
                    "type": pos["type"],
                    "amount": pos["amount"],
                    "average_price": pos["average_price"],
                    "total_value": pos["total_value"]
                })
        
        df = pd.DataFrame(rows)
        df['date'] = pd.to_datetime(df['date'])

        return df

# 포트폴리오 인스턴스 생성
portfolio = Portfolio()

In [10]:
df.loc[df['적요명'] == '단수주매각대금 입금'].iloc[0]

거래일자                                     2023-12-08 00:00:00
거래번호                                                       1
적요명                                               단수주매각대금 입금
종목명                          DIREXION 20+Y TREASURY DAILY 3X
수량/좌수                                                    NaN
시장구분/통화구분                                                USD
단가/매매기준가                                                 NaN
거래금액                                                     NaN
환율                                                    1322.7
정산금액                                                     NaN
외화정산금액                                                 40.74
예수금                                                   349675
외화예수금                                                 390.22
수수료                                                      NaN
국외수수료                                                    NaN
소득세                                                      NaN
거래세등                                                     NaN
지방소득세                                                    NaN
유가잔고수량                                                   NaN
티커                                                       TMF
영문명          Direxion Daily 20+ Year Treasury Bull 3X Shares
분류                                                       ETF
Name: 523, dtype: object

In [11]:
def process_transactions(df, portfolio):
    """거래 데이터를 처리하여 포트폴리오 업데이트 - 정산금액 기반"""
    
    # 거래 유형별 분류
    # 거래 유형별 분류
    cash_in = ['상품간대체입금', '전자금융입금', '대체입금']
    cash_out = ['전자금융송금 출금', '대체출금', '은행이체 출금']
    dividend_in = ['배당금 입금', '사채이자 입금', '사채원금 입금', '예탁금이용료 입금', '단수주매각대금 입금']
    tax_out = ['해외원천세 출금', '배당세금추징 출금', 'ADR FEE 출금', '이자소득세추징 출금']
    stock_buy = ['매수', '주식장내매수', '채권장내매수']
    stock_sell = ['매도', '주식장내매도', '채권장내매도', '채권상환 출고']
    usd_to_won = ['외화매도', '원화증거금환전 입금']
    won_to_usd = ['외화매수', '원화증거금환전 출금', '글로벌원마켓플러스외화매수 출금']
    stock_split = ['액면분할 입고', '액면병합 입고']
    
    trans_dates = df['거래일자'].unique()
    
    for date in trans_dates:
        daily_transactions = df[df['거래일자'] == date]
        
        for _, transaction in daily_transactions.iterrows():
            transaction_type = transaction['적요명']
            
            # 주식 거래 처리
            if transaction_type in stock_buy + stock_sell + stock_split:
                ticker = transaction['티커']
                name = transaction['종목명']
                sec_type = transaction['분류']
                amount = float(transaction['수량/좌수'])
                price = float(transaction['단가/매매기준가'])
                
                portfolio.add_stock_transaction(ticker, name, sec_type, amount, price, transaction_type)
            
            # 현금 거래 처리 - 정산금액 기반
            won_settlement = 0 if pd.isna(transaction['정산금액']) else transaction['정산금액']
            usd_settlement = 0 if pd.isna(transaction['외화정산금액']) else transaction['외화정산금액']
            currency_ex_rate = transaction['환율']


            # 현금 입출금 내역 추가
            
            # 원화 정산금액 처리
            if transaction_type in cash_in + dividend_in + stock_sell + usd_to_won :
                # 입금 거래
                portfolio.add_cash_transaction(date, "WON", float(won_settlement), transaction_type)
            elif transaction_type in cash_out + tax_out + stock_buy + won_to_usd:
                # 출금 거래
                portfolio.add_cash_transaction(date, "WON", -float(won_settlement), transaction_type)
            
            elif transaction_type in ['예탁금세액충당매도','세금충당외화매도']:
                # 예탁금 새액충당 매도는 원화표시가 안되어있음
                won_settlement = float(usd_settlement) * float(currency_ex_rate)
                portfolio.add_cash_transaction(date, "WON", float(won_settlement), transaction_type)

        
            # 달러 정산금액 처리
            if transaction_type in cash_in + dividend_in + stock_sell + won_to_usd:
                # 달러 입금
                portfolio.add_cash_transaction(date, "USD", float(usd_settlement), transaction_type)
            elif transaction_type in cash_out + stock_buy + tax_out + usd_to_won:
                # 달러 출금
                portfolio.add_cash_transaction(date, "USD", -float(usd_settlement), transaction_type)

            elif transaction_type in ['예탁금세액충당매도','세금충당외화매도']:
                portfolio.add_cash_transaction(date, "USD", -float(usd_settlement), transaction_type)
    
        portfolio.save_portfolio_snapshot(date)
    
    return portfolio

# 거래 데이터 처리 실행
portfolio = process_transactions(df, portfolio)

In [17]:
dfp = portfolio.make_portfolio_history()

In [66]:
dfc = pd.DataFrame(portfolio.cash_in_out_history)
dfc = dfc.groupby(['date']).sum()['amount'].to_frame()

In [67]:
cdate = list(dfc.index)

In [62]:
dfp.loc[dfp['name'] == '원화현금', 'total_value'] = dfp.loc[dfp['name'] == '원화현금', 'total_value'] / 1300

In [81]:
tv.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 433 entries, 2020-03-05 to 2025-09-29
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_value  433 non-null    float64
dtypes: float64(1)
memory usage: 6.8 KB

In [ ]:
tv = dfp.groupby(['date']).sum()['total_value'].to_frame()
dfc.index = pd.to_datetime(dfc.index)
df_new = dfc.merge(tv, on='date', how='left')
df_new['usd_amount'] = df_new['amount'] / 1300

                amount    total_value    usd_amount
date
2020-03-05    811500.0     624.230769    624.230769
2020-05-25    470000.0     991.053846    361.538462
2020-05-26    320000.0    1237.207692    246.153846
2020-06-06    500000.0    1621.823077    384.615385
2020-06-11    -50500.0    1688.476154    -38.846154
...                ...            ...           ...
2025-06-20   2000000.0  168237.317199   1538.461538
2025-07-07     30000.0  198138.679387     23.076923
2025-07-18   2000000.0  199681.250925   1538.461538
2025-08-18   -100001.0  201850.287380    -76.923846
2025-08-20 -15900000.0  189672.115752 -12230.769231

[93 rows x 3 columns]

In [ ]:
def calculate_twr(values, cashflows):
    """
    Time-Weighted Return (TWR) 계산
    values: 각 구간 종료 시 계좌 가치 리스트
    cashflows: 각 구간의 현금흐름 리스트 (구간 시작 후 들어오면 +, 나가면 -)
    
    예시:
    초기 1000만원 -> 1200만원 (입출금 없음)
    그 뒤 500만원 입금 -> 최종 2000만원
    values = [1200, 2000]
    cashflows = [0, 500]
    """
    sub_returns = []
    V_start = values[0] - cashflows[0]  # 첫 시작자산 (입출금 제외)

    if V_start != 0:

        for i in range(len(values)):
            V_end = values[i]
            CF = cashflows[i]
            r = (V_end - CF) / V_start - 1
            sub_returns.append(1 + r)
            if i + 1 < len(values):
                V_start = values[i]  # 다음 구간 시작자산 (입출금 전 기준)
        twr = np.prod(sub_returns) - 1
        return twr

In [109]:
d = df_new['total_value'] - df_new['usd_amount']

In [116]:
d['2020-05-26':].pct_change().cumprod()

date
2020-05-26              NaN
2020-06-06     2.483759e-01
2020-06-11     9.839305e-02
2020-07-02    -7.099663e-03
2020-07-15    -5.045015e-03
                  ...
2025-06-20    8.929255e-194
2025-07-07    1.682844e-194
2025-07-18    2.309326e-198
2025-08-18    4.410689e-200
2025-08-20   -5.313573e-204
Length: 91, dtype: float64

In [123]:
(d['2020-05-26':].pct_change()+1).cumprod()

date
2020-05-26           NaN
2020-06-06      1.248376
2020-06-11      1.742915
2020-07-02      1.617153
2020-07-15      2.766300
                 ...
2025-06-20    168.203631
2025-07-07    199.903974
2025-07-18    199.931407
2025-08-18    203.749990
2025-08-20    203.725444
Length: 91, dtype: float64

In [119]:
d['2020-05-26':].values

array([9.91053846e+02, 1.23720769e+03, 1.72732231e+03, 1.60268538e+03,
       2.74155231e+03, 3.06016231e+03, 3.06675385e+03, 3.52249308e+03,
       8.09670539e+03, 1.17444369e+04, 1.17363600e+04, 1.31835408e+04,
       1.30981562e+04, 1.46052985e+04, 1.61106239e+04, 1.78101308e+04,
       1.79024446e+04, 1.79781315e+04, 1.71234029e+04, 1.17815483e+04,
       1.26503898e+04, 1.18983508e+04, 1.26967039e+07, 1.97001430e+07,
       1.97079584e+07, 1.97088381e+07, 2.11511972e+07, 8.63723655e+06,
       8.63800578e+06, 8.63377463e+06, 8.63295160e+06, 7.01452289e+06,
       7.01584425e+06, 7.01964479e+06, 7.02164115e+06, 7.02640224e+06,
       7.02574974e+06, 7.02736513e+06, 7.02748148e+06, 7.02744264e+06,
       7.02890121e+06, 7.03047318e+06, 7.03200904e+06, 7.03486576e+06,
       7.03571171e+06, 7.02374297e+06, 7.02377975e+06, 7.02889906e+06,
       7.03100634e+06, 7.03787495e+06, 7.04092574e+06, 7.09707659e+06,
       7.09699376e+06, 9.02511209e+06, 9.02588132e+06, 9.03304598e+06,
       9.04044864e+06, 9.04725681e+06, 9.04926042e+06, 9.05095580e+06,
       9.05231422e+06, 9.05378428e+06, 9.06212713e+06, 9.05436925e+06,
       9.05186350e+06, 7.08923525e+06, 7.27627266e+04, 7.24122107e+04,
       7.35601012e+04, 7.94173799e+04, 7.93864330e+04, 9.30331576e+04,
       1.06441441e+05, 1.31243219e+05, 1.33858377e+05, 1.36842732e+05,
       1.38350717e+05, 1.40407222e+05, 1.45794007e+05, 1.46918422e+05,
       1.44840225e+05, 1.40572794e+05, 1.42021770e+05, 1.49759361e+05,
       1.53396070e+05, 1.59549916e+05, 1.66698856e+05, 1.98115602e+05,
       1.98142789e+05, 2.01927211e+05, 2.01902885e+05])

In [105]:
calculate_twr(df_new['total_value'].tolist(), df_new['usd_amount'].tolist())

0.0

In [14]:
df.groupby('date').get_group('2025-09-29')

,date,ticker,name,type,amount,average_price,total_value
6664,2025-09-29,WON,원화현금,Cash,1.0,56270.000000,56270.000000
6665,2025-09-29,USD,달러현금,Cash,1.0,11726.380000,11726.380000
6666,2025-09-29,MSFT,마이크로소프트,Stock,1.0,205.744945,205.744945
6667,2025-09-29,AAPL,애플,Stock,1.0,394.248667,394.248667
6668,2025-09-29,DAL,델타 에어라인스,Stock,1.0,37.049464,37.049464
6669,2025-09-29,UAL,유나이티드 에어라인,Stock,1.0,44.212727,44.212727
6670,2025-09-29,AMZN,아마존닷컴,Stock,11.0,195.388485,2149.273333
6671,2025-09-29,TSM,TSMC(ADR),Stock,15.0,93.470870,1402.063043
6672,2025-09-29,TTWO,테이크 투 인터렉티브 소프트웨어,Stock,1.0,161.250000,161.250000
6673,2025-09-29,BRK.B,버크셔 해서웨이 B,Stock,22.0,390.682069,8595.005517
6674,2025-09-29,TMF,DIREXION 20+Y TREASURY DAILY 3X,ETF,2150.0,41.542513,89316.403184
6675,2025-09-29,HTZ,허츠 글로벌 홀딩스,Stock,1014.0,3.858643,3912.663799
6676,2025-09-29,APA,APA,Stock,2700.0,18.785862,50721.828408
6677,2025-09-29,OXY,옥시덴털 페트롤리엄,Stock,344.0,43.874127,15092.699683
6678,2025-09-29,CAR,에이비스 버짓 그룹,Stock,1.0,69.127423,69.127423
6679,2025-09-29,GSL,글로벌 쉽 리스,Stock,25.0,25.680700,642.017500
6680,2025-09-29,ADBE,어도비,Stock,20.0,349.358500,6987.170000